
  <h3 class="timer"></h3>
  <table class="racer_table">
    
    <tr id="player1_strip">
      <td style='width:70px; border:0px' class="player_name"> <%= player_1.name %></td>
      <%= erb :_race_grid %>
    </tr>
    <tr id="player2_strip">
      <td style='width:70px; border:0px' class="player_name"> <%= player_2.name%></td>
      <%= erb :_race_grid %>
    </tr>
  </table>

